{% extends 'base/main.html' %}
{% block content %}
  
<div class="header">

    <div class="d-flex mx-3 text-center">
    <h3 class="mt-4">LOGIN</h3>
      
        </div>
</div>

{% load crispy_forms_tags %}



<div class="mt-5 container">

    
    <form  method="post">
        <div class="d-flex container">
            {% csrf_token %}
            
            
            <div class="col-2">
                
            </div>
            <div class="col-8">
                <div class="row-5 mb-3">
                    
                    {{ form.username|as_crispy_field }}
                    
                </div>
                <div class="row-5 mb-3">
                    
                    {{ form.password|as_crispy_field }}
                    <br>
                </div>
                <div class="row-2 mb-3">
                    
                    <input class="btn btn-primary" type="submit" value="Login">
                    <br>
                </div>
                <p> <em>Don't have an account? </em><a href="{% url 'register' %}">Register</a></p>
            </div>
            <div class="col-2" >
                
            </div>
            
        </div>
    </form>
</div>
    
    {% endblock content %}